<%- include ejs_files/header.ejs %>
<%- include ejs_files/main_nav.ejs %>

<main><div class="jumbotron">
  <div class="container">
    <h1 class="display-10", href= "/home "><br>Streamline Your To-Do List <br>
with a powerful task management site</h1>
    <br>
    <p>What is a ToDo List? <br>The definition is a simple one. It's a list of tasks you need to complete or things that you want to do.<br> Traditionally, they're written on a piece of paper or post it notes and act as a memory aid, but not here</p>
    <br>
    <a class="btn btn-warning btn-medium" href="https://www.youtube.com/watch?v=RiI1NkaDXlQ" role="button">Time Management Tips <i class="fa-brands fa-youtube"></i></a>
    <p></p>
    <a class="btn btn-warning btn-medium" href="/tasks" role="button">Get Started <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </div>
</main>
<%- include ejs_files/bottom_nav.ejs %>
<%- include ejs_files/footer.ejs %>