<%- include ejs_files/header.ejs %>
<%- include ejs_files/main_nav.ejs %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body background="\media\bg-removebg-preview.png">
<main><div class="jumbotron">
<br>
<br>
<br>
<br>
  <div class="container2">
    <h1 class="display-10", href= "/home "><br>Streamline Your To-Do List <br>
with a powerful task management site</h1>
    <br>
    <h3>
    <a class="button1" href="/tasks" role="button1"><span>Get Started</span></a>
    </h3>
    <br>
    <br>
    </div>
  </div>
</main>
<%- include ejs_files/bottom_nav.ejs %>
<%- include ejs_files/footer.ejs %>