<%- include ejs_files/header.ejs %>
<%- include ejs_files/main_nav.ejs %>

<main><div class="jumbotron">
  <div class="container">
    <h1 class="display-10", href= "/home ">2nd year <br>Networking and IT security<br>student</h1>
    </div>
  </div>
</main>
<%- include ejs_files/bottom_nav.ejs %>
<%- include ejs_files/footer.ejs %>