  <!--Bottom navbar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2022<br>A site by Mariam Shahnawaz</h6>
  <p class="lead">
    <a class="btn btn-primary btn-small" href="https://www.linkedin.com/in/mariam-shahnawaz-ahmed-b8961319a" role="button"><i class="fa-brands fa-linkedin-in"></i></a>
    <a class="btn btn-primary btn-small" href="https://github.com/maiyum11/assignment3" role="button"><i class="fa-brands fa-github"></i></a>
    <a class="btn btn-primary btn-small" href="https://instagram.com/maiyum11?igshid=YmMyMTA2M2Y=" role="button"><i class="fa-brands fa-instagram"></i></a>
    <a class="btn btn-primary btn-small" href="https://docs.google.com/forms/d/e/1FAIpQLScXHCN9CilQoh6yu76rfWIDDYGtF2TtE09-g6t3T9-_CZduHQ/viewform?usp=sf_link" role="button"><i class="fa-regular fa-comments"></i></a>
  </p>
</nav>