  <!--Bottom navbar-->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <h6 class="navbar-text"> Copyright &copy; 2022 | Mariam Shahnawaz</h6>
  <p class="lead">
    <a class="btn btn-warning btn-small" href="https://github.com/maiyum11/assignment3" role="button"><i class="fa-brands fa-github"></i></a>
    <a class="btn btn-warning btn-small" href="https://docs.google.com/forms/d/e/1FAIpQLScXHCN9CilQoh6yu76rfWIDDYGtF2TtE09-g6t3T9-_CZduHQ/viewform?usp=sf_link" role="button"><i class="fa-regular fa-comments"></i></a>
  </p>
</nav>