  <!--Bottom navbar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2022<br>A site by Mariam Shahnawaz</h6>
  <p class="lead">
    <a class="btn btn-primary btn-small" href="https://www.linkedin.com/in/mariam-shahnawaz-ahmed-b8961319a" role="button"><i class="fa-brands fa-linkedin-in"></i></a>
    <a class="btn btn-primary btn-small" href="https://github.com/maiyum11/assignment2.git" role="button"><i class="fa-brands fa-github"></i></a>
    <a class="btn btn-primary btn-small" href="https://instagram.com/maiyum11?igshid=YmMyMTA2M2Y=" role="button"><i class="fa-brands fa-instagram"></i></a>
    <a class="btn btn-primary btn-small" href="form.html" role="button"><i class="fa-regular fa-envelope"></i></a>
  </p>
</nav>